<!DOCTYPE html>
<html>

<body background="transparent">
    <!--<section style="margin-bottom:0px; min-height: 78vh;">
        <form class="box" name="formInicio" (submit)="loginUser($event)">
            <h2 class="text-info">Iniciar sesión</h2>
            <input type="text" name="" placeholder="Correo electrónico" required>
            <input type="password" name="" placeholder="Contraseña" required>
            <input type="submit" name="" value="Login">
            <div *ngIf="invalid" class="alert alert-danger" role="alert">
                Correo o contraseña incorrectos.
            </div>
            <label><a href="/registro">Crear nueva cuenta</a></label>
            
        </form>
    </section>-->
    <section>
            <p class="paragraph">La resolución de problemas en general y la resolución de problemas en matemática son habilidades 
                siempre centrales, tanto para profesionales como para aquellas personas que sin ser profesionales deben adaptarse 
                a un mundo de trabajo muy dinámico y cambiante.<br><br>
                Lo que se ha llamado cuarta revolución industrial plantea retos para los trabajadores del futuro que apenas 
                empezamos a comprender pero que anticipan como valores, entre otros, la capacidad de resolver problemas y la 
                predisposición de las personas para reinventarse en un mundo que lejos de buscar una habilidad específica exigirá 
                de ellos la capacidad de adaptarse a demandas que pueden variar o cambiar radicalmente.<br><br>
                El razonamiento matemático se presenta como una de estas habilidades centrales. En el razonamiento matemático se 
                conjugan varios componentes, todos ellos importantes. Usamos en mayor o menor medida, capacidades cognitivas entre 
                las que se pueden destacar al menos las siguientes:<br><br>
    
                •	La Memoria de Trabajo, un recurso ilimitado que, en función de una meta, nos permite mantener activa información 
                o asociándola con otra información en nuestro cúmulo de conocimientos.<br>
                •	El razonamiento deductivo como forma directa de generar conclusiones verdaderas a partir de hipótesis conocidas. <br>
                •	Las capacidades espaciales como un complemento que nos permita la representación o la manipulación directa de objetos 
                geométricos.<br>
                •	Y finalmente, las capacidades inductivas como aquellas que nos permiten generar conjeturas y conocimiento sobre un 
                problema a resolver. <br><br>
    
    
                Con esta agenda CIEMAC la Escuela de Matemática busca seguir aportando un elemento clave en el desarrollo de nuestros 
                estudiantes y de nuestro país como lo es el pensamiento matemático. Esta capacidad se cultiva en los estudiantes 
                a través de diversas situaciones y los docentes de matemática estamos llamados a contribuir significativamente en 
                su desarrollo. Los problemas de esta agenda ofrecen contextos de álgebra, geometría, probabilidades, teoría de 
                números y pensamiento lógico simple en cada una de las líneas citadas en el párrafo anterior y con grados de dificultad 
                que permiten atender distintos niveles en los estudiantes.<br><br>
                Para nosotros es un placer presentarles una nueva edición de esta agenda y nos llenaría de orgullo que cada uno de los 
                docentes que tengan a mano esta herramienta la usen con sus estudiantes, siempre podemos encontrar una buena razón para 
                enfrentar retos difíciles e importantes, en este caso nuestros estudiantes y nuestro país.<br><br>
                De la misma manera que esta cuarta revolución industrial llama a nuevas maneras de formar a los ciudadanos, con 
                capacidades de pensamiento crítico, con habilidades para resolver problemas y trabajar en equipo y para reinventarse, 
                dando énfasis a la resolución de problemas reales, los docentes debemos buscar formas de reinventarnos nosotros mismos 
                y ser parte activa en estas transformaciones que sin duda llegarán a nuestras aulas.<br><br>
                Agradecemos a Canguro Matemático que nos facilita muchos de nuestros problemas que cada año usamos en esta agenda.
                </p>      
        
    </section>
</body>

</html>