@media (min-width:576px) {
    .clean-block .block-heading {
      padding-top:80px;
    }
  }
  
  .clean-block .block-heading {
    padding-top:50px;
    margin-bottom:40px;
    text-align:center;
  }

  .text-info {
    margin-top: 130px;
    color:black!important;
  }
  .paragraph{
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    line-height: 2;
    background:  #fff;;
    margin-bottom: 30px;
    text-align: justify;
    font-size: 20px;
    color: black!important;
  }
  
  body {
    margin:0;
    font-family:Montserrat,sans-serif;
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    color:#212529;
    text-align:left;
    background-color:#fff;
  }

  
  .container {
    padding-top:5px;
  }
  
  @media (min-width:1200px) {
    .container {
      max-width:1140px;
    }
  }
  
  @media (min-width:992px) {
    .container {
      max-width:960px;
    }
  }
  
  @media (min-width:768px) {
    .container {
      max-width:720px;
    }
  }
  
  @media (min-width:576px) {
    .container {
      max-width:540px;
    }
  }
  
  .container {
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
  }

  .redButton {
    background-color: #c1272d; 
    border: none;
    color: white;
    display: table;
    margin: 0 auto;
    padding: 10px 27px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
  }
  
  .box{
    width: 500px;
    height: 600px;
    padding: 40px;
    border-top: 20px;
    position: absolute;
    top: 50%;
    filter: drop-shadow(0 0 8px #2c3e50);/*Sombra*/
    background: url("../../assets/img/calendarBackground.png");
    background-size: 100% 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .box h1{
    color: black;
    text-transform: uppercase;
    font-weight: 500;
  }

  .box p{
    color: black;
    font-weight: 200;
  }

  .box input[type = "text"], .box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #e74c3c;
    padding: 14px 10px;
    width: 250px;
    outline: none;
    color: #2c3e50;
    border-radius: 24px;
    transition: 0.25s;
  }

  .box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 280px;
    border-color: #c1272d;
  }

  .box input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #273c75;
    padding: 14px 40px;
    outline: none;
    color: #2c3e50;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
  .box input[type = "submit"]:hover{
    background: #30336b;
    color: white;
  }
  .a{
    color: black
  }