
.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}
  
.popup p {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.card-image{
  height: 300px; 
  width: 290px;
}
